* {
    margin: 0;
    padding: 0;
}


@media screen and (orientation: landscape) {
    td {
        height: 30px;
        width: 30px;
    }
    input {
        height: 30px;
        width: 30px;
        background-color: black;
        border: none;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }
}

@media screen and (orientation: portrait) {
    td {
        height: 40px;
        width: 40px;
    }
    input {
        height: 40px;
        width: 40px;
        background-color: black;
        border: none;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }
}

body {
    background-color: rgb(60, 60, 60);
}

.square {
    background-color: black;
    border: 3px green solid
}

.Gsquare {
    background-color: black;
    border: 3px rgb(161, 145, 0) solid
}

.Rsquare {
    background-color: black;
    border: 3px rgb(255, 0, 0) solid
}

.noBottom {
    border-bottom: none;
}
.noTop {
    border-top: none;
}
.noBoth {
    border-top: none;
    border-bottom: none;
}


.input {
    color: green;
}
.Ginput {
    color: rgb(161, 145, 0);
}
.Rinput {
    color: rgb(255, 0, 0);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1450px) {
    .box {
        position: absolute;
        height: 100vh;
        width: 50%;
        background-color: rgb(0, 0, 0);
        left: 50%;
        transform: translate(-50%);
        border: 5px white solid;
        border-top: none;
        border-bottom: none
    }
}
@media screen and (max-width: 1449px) {
    .box {
        position: absolute;
        height: 50vh;
        width: 100%;
        background-color: rgb(0, 0, 0);
        top: 50%;
        transform: translateY(-50%);
        border: 5px white solid;
        border-left: none;
        border-right: none
    }
}
